/*
DESIGN PLAN
***********************
ingredients on the left.

steps in the middle

recommended recipes on the right.

the images at the bottom

footer, same design as the header.


MOBILE
**************
* everything in a column arrangement
* nav bar showing


TABLET
***************
* same as mobile

DESKTOP
********************
* 3 column view, with the pictures under
*/

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

nav {
	position: sticky;
	top: 0px;
	background-color: black;
	padding: 10px;
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	padding-left: 0px;
}

ol,
ul {
	padding-left: 0px;
}

nav ul li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

main {
	padding: 20px;
	padding-top: 0;
	text-align: left;
}

section {
	padding: 20px;
}

li {
	list-style-type: none;
	padding: 5px;
}

img {
	width: 20vw;
	margin: 10px;
	border-radius: 100%;
}

.steps ol {
	padding-left: 20px;
}

.steps li {
	list-style-type: decimal;
}

.images {
	padding: 20px;
	/* padding-left: 40px; */
}

.images ul {
	display: flex;
	align-items: flex-end;
}

footer {
	/* display: flex; */
	text-align: center;
	padding: 30px;
	background-color: black;
	color: white;
	font-weight: bold;
}

.heading {
	text-align: justify;
	padding: 30px;
	padding-bottom: 0;
}

@media (min-width: 750px) {
	nav {
		display: none;
	}

	main {
		display: flex;
		justify-content: space-between;
		text-align: center;
	}

	section h2 {
		text-align: center;
	}

	.heading {
		text-align: center;
		padding: 0 20vw;
		line-height: 1.5;
	}

	.steps {
		width: 60vw;
		text-align: center;
	}

	.steps li {
		list-style-type: none;
	}

	.recommendations {
		width: 20vw;
		text-align: center;
	}

	.ingredients {
		width: 20vw;
	}

	.images ul {
		display: flex;
		justify-content: center;
	}
}
